.box {
    width: 350px;
    height: 610px;
    background: $box-clr;
    box-shadow: $bs;
    border-radius: 10px;
    margin-bottom: 20px;

    
    .details {
        margin: 10px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__title {
            font-family: 'Libre Baskerville', serif;
            font-weight: bold;
            color: $title;
            text-align: center;
            margin-top: 1.5rem;
            // text-transform: uppercase;

            &:hover {
                color: $marvel-red;
                transition: all ease 0.35s;
            }
        }

        &__image {
            height: 350px;
            padding: 1.5rem 1.5rem 0;
        }

        &__logo #logo {
            height: 3rem;
        }

        &__desc {
            text-align: center;
            font-family: 'New Tegomin', serif;
            color: $title;
            font-size: 14px;
        }
    }

    &:hover {
        background: $box-opacity;
        transform-style: preserve-3d;
        transform: scale(1.02);
        transition: all ease 0.35s;
    }

    @include responsive (mobile) {
        
    }
    
}