.box {
    width: 350px;
    height: 610px;
    background: $box-clr;
    box-shadow: $bs;
    border-radius: 10px;
    
    .details {
        margin: 10px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__title {
            font-family: 'Libre Baskerville', serif;
            font-weight: bold;
            color: $title;
            text-align: center;
            margin-top: 0px;
            // text-transform: uppercase;
        }

        &__image {
            height: 400px;
            padding: 1.5rem;
        }

        &__logo #logo {
            height: 4rem;
        }
    }
}